<template>
  <div>
    <component
      v-for="(element, index) in config" :key="index"
      :is="element.component"
      dense
      filled
      :label="element.label"
      :loading="element.loading"
      :messages="element.message"
      :items="element.items"
      :md="element.md"
      :name="element.name"
      @input="changeField($event, element.name)"
      @change="changeField($event, element.name)"
    >
      <form-generator :config="element.childrens"/>
  </component>
  </div>
</template>

<script>
import {VTabItem, VItemGroup, VAutocomplete, VCheckbox, VTextField} from 'vuetify/lib'
export default {

  name: "FormGenerator",

  props: ['config'],

  components: {
    VTabItem,
    VAutocomplete,
    VCheckbox,
    VTextField,
    VItemGroup
  },

  methods: {
    changeField(value, name) {
      this.$store.commit('setFormValues', {name, value})
    },
  }
}
</script>

<style>

</style>