<template>
  <v-app>
    <v-container>
      <v-tabs-items v-model="tabs">
        <div class="text-h4 grey--text mb-5">{{getFormConfig.title.text}}</div>
        <v-tab-item :value="1">
          <form-generator :config="getFormConfig.childrens"/>
        </v-tab-item>
        </v-tabs-items>
        {{getFormValues}}
    </v-container>
  </v-app>
</template>

<script>
import formConfig from "./data.json";
import FormGenerator from "./components/FormGenerator.vue";

export default {
  name: "App",
  data: () => ({
    tabs: 1,
  }),

  components: {
    FormGenerator,
  },

  computed: {
    getFormConfig() {
      return formConfig;
    },

    getFormValues() {
      return this.$store.getters.getFormValues
    }
  }

};
</script>
